.footerr{
    display: flex;
    justify-content: space-between;
    background-color:rgb(31, 31, 31);
    color: white;
        img{
            width: 7.5rem;
            height: 7.5rem;
        }
        span{
            margin: .3125rem;
            padding: .3125rem;
        }
    }
